header {
	margin-bottom: 2em;
	padding: 2em 2em 0 2em;
	grid-area: header;
	transition: $transition;

	@media only screen and (min-width: $desktop) {
		padding: 4.125em 0 0 10.25em;
	}

	a {
		display: inline;
		height: auto;

		.logo {
			height: 22px;
			transition: $transition;

			@media only screen and (min-width: 820px) {
				height: 1.3em;
			}
		}
	}
}
