.container {
	width: 100%;
	height: 100%;
	background-image: $clr-gradient-1;
	transition: $transition;

	@media only screen and (min-height: 812px) {
		height: 100vh;
	}
	@media only screen and (min-width: 714px) {
		height: 100%;
	}

	@media only screen and (min-width: 820px) {
		display: grid;
		height: 100vh;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 236px 1fr;

		grid-template-areas: 'header hero-img' 'hero hero-img';

		background: url('./../../../assets/images/bg-pattern-desktop.svg'),
			$clr-gradient-1;
		background-position: -19px 20px;
		background-repeat: repeat;
		background-size: contain;
		background-clip: content-box;
	}
}
