@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

@import './partials/variables';

* {
	box-sizing: border-box;
}

html {
	font-family: 'Josefin Sans', sans-serif;
}

body {
	font-size: $font-size;
}
